<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/layui-admin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layui-admin/style/admin.css" media="all">
    <link rel="stylesheet" href="/static/css/common.css" media="all">
    <title>{block name="title"}{/block}</title>
    <style>
        .layui-table-view .layui-table td, .layui-table-view .layui-table th {text-align: center}
    </style>
</head>
<body>
    <div class="layui-fluid" style="padding: 15px">
        {block name="content"}{/block}
    </div>
</body>
</html>
<script src="/static/layui-admin/layui/layui.js"></script>
{block name="js"}{/block}